---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Main Page | The Virtuality">
    <section id="newsletter-container">
        <div>
            <h2>Newsletter</h2>
            <div id="subscribe-box">
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Enter your email..."
                />
                <button id="subscribe-button">Subscribe</button>
            </div>
        </div>
    </section>
    <div class="white">
        <h2>Articles</h2>
    </div>
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: 0%;
    }
    .white {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .white code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }

    #newsletter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 30px 0;
    }
    h2 {
        margin-bottom: 10px;
        margin-top: 0;
        line-height: 1;
    }
    #subscribe-box {
        position: relative;
    }
    input {
        border: 1px solid var(--black);
        border-radius: 0.4rem;
        box-sizing: border-box;

        padding: 0.5rem;

        width: 50ch;

        font-family: "Segoe UI", system-ui, sans-serif;
    }
    button {
        font-family: "Segoe UI", system-ui, sans-serif;

        cursor: pointer;
    }
    #subscribe-button {
        position: absolute;
        right: 0;
        height: 100%;
        border: 0;

        background: var(--dark-blue);
        color: #fff;

        font-weight: 700;

        border-radius: 0.4rem;

        padding: 0 15px;
    }
</style>
